* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html { scroll-behavior: smooth; }

body {
    padding-top: 100px;
    color: #fff;
    background: linear-gradient(
        135deg,
        #0b0f2a,
        #1a1446,
        #2b0f3f,
        #0f2a6d,
        #0a3cff
    );
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 25px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
}

nav a {
    margin-left: 25px;
    color: #c7c9d3;
    text-decoration: none;
}
nav a:hover { color: #ff2d55; }

/* UTIL */
.container {
    max-width: 1200px;
    margin: auto;
}
.two-col {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}
.center { text-align: center; }

/* HERO */
.hero {
    max-width: 1200px;
    margin: auto;
    padding: 80px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-text span { color: #ff2d55; }
.buttons { display: flex; gap: 10px; margin-top: 20px; }

.btn {
    padding: 14px 30px;
    border-radius: 30px;
    text-decoration: none;
}
.primary {
    background: linear-gradient(135deg,#ff2d55,#7f53ff);
}
.outline {
    border: 2px solid #ff2d55;
    color: #ff2d55;
}

.hero-image img {
    width: 500px;
    border-radius: 2rem;
}

/* ABOUT */
.about { padding: 80px 8%; }
.about-image { position: relative; }
.about-image img { width: 280px;animation: float 6s ease-in-out infinite;  border-radius: 20px; }

.glow {
    position: absolute;
    inset: -20px;
    background: linear-gradient(135deg,#ff2d55,#7f53ff,#3b82f6);
    filter: blur(60px);
    opacity: 0.6;
    z-index: -1;
}

/* PROJECTS */
.projects { padding: 80px 8%; }
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 25px;
}
.project-card {
    background: rgba(255,255,255,0.06);
    padding: 25px;
    border-radius: 20px;
    transition: 0.4s;
}
.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 30px rgba(127,83,255,.5);
}

/* SKILLS */
.skills { padding: 80px 8%; }
.skill { margin-bottom: 20px; }
.bar {
    height: 8px;
    background: rgba(255,255,255,.2);
    border-radius: 10px;
}
.fill {
    height: 100%;
    width: 0;
    background: linear-gradient(135deg,#ff2d55,#7f53ff);
    border-radius: 10px;
    transition: width 1.5s ease;
}

/* CONTACT */
.contact {
    padding: 80px 8%;
    text-align: center;
}
.contact-info a {
    display: block;
    margin: 10px 0;
    color: white;
}

/* ANIMATIONS */
@keyframes float {
    50% { transform: translateY(-15px); }
}

.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: 0.8s ease;
}
.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .hero, .two-col {
        flex-direction: column;
        text-align: center;
    }
}
